.container {
  padding-top: 20px;
}
.banner {
  height: 60px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  padding: 5px;
  background: white;
  position: fixed;
  top: 0;
}
.buttonBack {
  width: 100% !important;
  height: 100% !important;
  text-align: center;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  color: #007D90;
  font-size: 20px !important;
  font-weight: 700
}
.nav {
    display: flex;
    justify-content: space-between;
}
.active {
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    border-bottom: 4px solid #007D90;
    color: #007D90;
}
li a {
  padding: 0 20px;
}
ul {
  border-bottom: 2px solid #949799;
}
ul a {
    text-decoration: none !important;
    color: #949799;
}
.navcont {
  width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
.main {
  background-color: #F2F3F5;
}
.blackheading {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
}
.registerForm {
  width: 800px;
}
.formbody {
  padding-top: 80px;
  background-color: white;
  padding: 40px;
  width: 600px;
  margin: 0 auto;
}
.welcome {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}

